apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: cm9vdA==                   # root
  DB_PASSWORD: cHJvZHVjdA==                       # product
  PROBE_USER: cHJvYmV1c2Vy                        # probeuser
  PROBE_PASSWORD: cEBzc3dvcmQ=                    # p@ssword                
