apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-frontend
  labels:
    app: product-frontend
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-frontend
      tier: frontend
  template:
    metadata:
      labels:
        app: product-frontend
        tier: frontend
    spec:

      initContainers:
      - name: wait-for-product-backend-app
        image: busybox:1.31
        command: ['sh', '-c', 'echo -e "Checking for the availability of Backend Server deployment"; until nc -z product-backend 8080; do sleep 1; printf "-"; done; echo -e "  >> Backend Server has been started";']

      containers:
      - name: product-frontend-cont
        image: "{{ .Values.image.imageName }}:{{ .Values.image.imageVersion }}"
        imagePullPolicy: IfNotPresent
        ports:
        - name: frontend
          containerPort: 8080
      
        startupProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 10

        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /nginx-health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
          
---
apiVersion: v1
kind: Service
metadata:
  name: product-frontend
  labels:
    app: product-frontend
    tier: frontend
spec:
  type: NodePort
  selector:
    app: product-frontend
    tier: frontend
  ports:
  - name: frontend
    protocol: "TCP"
    port: 8080
    targetPort: 8080
    nodePort: 32000
