apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
data:
  MYSQL_ROOT_PASSWORD: cm9vdA==                   # root
  DB_PASSWORD: cHJvZHVjdA==                       # product
  DB_HEALTHCHECK_USER: aGVhbHRoY2hlY2s=           # healthcheck
  DB_HEALTHCHECK_PASSWORD: cEBzc3dvcmQ=           # p@ssword                
